.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#add-answer {
  align-self: start;
}

.answer-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.answer-item {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
  gap: 10px;
  border-radius: 6px;

  .codio-assessment-settings-form-label {
    flex: 0 0 30px;
  }

  .answer-item-correct-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

.answer-item-correct-container, .answer-item-answer-container {
  display: flex;
  flex-direction: column;
}

.answer-item-answer-container {
  flex: 1;
}

.answer-item-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 20px;
  justify-content: space-around;

  .action-delete {
    color: red;
  }
}

.answer-item-action-button {
  background: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}
